:root{
  --margin-3xs:0.125rem;
  --margin-2xs:0.3rem;
  --margin-xs:0.5rem;
  --margin-sm:0.7rem;
  --margin-md:0.8rem;
  --margin-lg:1rem;
  --margin-xl:1.25rem;
  --margin-2xl:1.5rem;
  --margin-4xl:2rem;
  --margin-6xl:5rem;

  --padding-3xs:0.125rem;
  --padding-2xs:0.25rem;
  --padding-xs:0.5rem;
  --padding-sm:0.7rem;
  --padding-md:0.8rem;
  --padding-lg:1rem;
  --padding-xl:1.25rem;
  --padding-2xl:1.5rem;
  --padding-3xl:1.75rem;
  --padding-4xl:2rem;
  --padding-5xl:3rem;
  --padding-6xl:4rem;

  --gap-3xs:0.125rem;
  --gap-2xs:0.3rem;
  --gap-xs:0.5rem;
  --gap-sm:0.7rem;
  --gap-md:0.9rem;
  --gap-lg:1rem;
  --gap-xl:1.25rem;
  --gap-2xl:2rem;
  --gap-3xl:3rem;

  --spacing-scale-md:0.7; /* @kind other */
  --spacing-scale-default:1.0; /* @kind other */

  --section-padding-block:3rem;
  --section-padding-block-large:4.5rem;
}
